@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --raleway: "Raleway", sans-serif;
  --inter: "Inter", sans-serif;
  --primary-color: #4e47ff;
  --margin-top: 37px;
}

body {
  background: #f5f8ff;
}

.hero {
  background-image: url("Assets/Hero-bg.png");
  height: 100vh;
  padding: 50px 100px;
}

.primary-color {
  color: var(--primary-color);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.w-fit {
  width: fit-content;
}

.logo {
  font-weight: 900;
  font-size: 34px;
  color: var(--primary-color);
  font-family: var(--inter);
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 900;
  letter-spacing: 2px;
}

.button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: 0;
  font-family: var(--raleway);
  font-size: 14px;
  font-weight: 600;
  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
}

.button:hover {
  cursor: pointer;
  background: #000;
  scale: 1.1;
}

.button:active{
  scale: 0.9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-heading {
  margin-top: 150px;
  color: #252432;
  text-align: center;
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
  width: 70%;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--margin-top);
}

.middle {
  padding: 70px 100px;
}

.middle-2 {
  padding: 10px 100px 70px;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading {
  color: #252432;
  font-family: Raleway;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content {
  color: rgba(37, 36, 50, 0.5);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 60%;
}

.content-2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--inter);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.content-2 {
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-align: center;
}

.section-2 {
  border-radius: 48px;
  background: url("Assets/wc-mini.png");
  width: 403px;
  height: 328px;
  flex-shrink: 0;
  aspect-ratio: 403/328;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.count {
  color: var(--primary-color);
  font-family: Inter;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.count-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.count-container {
  display: flex;
  gap: 162px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}

.container-2 {
  border-radius: 24px;
  background: rgba(78, 71, 255, 0.1);
  padding: 50px 80px;
}

.review {
  display: flex;
  min-width: 240px;
  padding: 24px;
  flex-direction: column;
  gap: 20px;
  border-radius: 14px;
  border: 1px solid #f2eded;
  background: rgba(255, 255, 255, 0.5);
}

.review-heading {
  color: #1e1e1e;
  font-family: var(--inter);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-bottom: 8px;
}

.review-content {
  color: #1e1e1e;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  border-radius: 50%;
}

.reviewer-name {
  color: #757575;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.reviewer-date {
  color: #b3b3b3;
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-3 {
  display: flex;
  gap: 24px;
  margin-top: 50px;
}

.image-container {
  height: 364.773px;
  align-self: stretch;
  aspect-ratio: 840/364.77;
  border-radius: 48px;
  background: url("Assets/wc-big.png");
}

.container-4 {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 17px;
  padding: 50px 80px;
  border-radius: 14px;
  background: #fff;
}

.form-heading {
  color: #000;
  font-family: Raleway;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.form-text {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 7px;
}

input,
textarea {
  border-radius: 8px;
  border: 1px solid #d6dded;
  background: #fff;
  padding: 12px 16px;
  resize: none;
  width: 500px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.container-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  color: var(--primary-color);
  text-align: center;
  font-family: Inter;
  font-size: 100px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer-content {
  color: #8987a1;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-list {
  color: rgba(0, 0, 0, 0.5);
  font-family: var(--inter);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  list-style: none;
  display: flex;
  gap: 40px;
}

.container-6 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 100px 0;
  width: 32%;
  margin: 0 auto;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}
